@import "../deps/meta";

@keyframes bg-scale-out {
	from {
		transform: scaleY(0.5);
	}

	to {
		transform: scaleY(1);
	}
}

@keyframes go-up {
	from { transform: translateY(2rem); }
	to { transform: translateY(0); }
}

#nav-size {
	position: absolute;
	left: -9999;
	top: -9999;
	height: $nav-height;
	width: 1px;
}

header {
	background-color: $color-stone;
	min-height: $nav-height;
	margin-bottom: 3rem;
	padding-top: $nav-height-desktop + 4rem;
	padding-bottom: 1rem;

	.js-enabled & { margin-bottom: $nav-height-desktop + 5rem - $nav-height; }

	@media screen and (min-width: $breakpoint-tablet) {
		padding-top: 0;
		padding-bottom: 0;
	}

	.js-enabled & {
		padding-top: 0;
		padding-bottom: 0;
	}

	@media screen and (min-width: $breakpoint-tablet) {
		margin-bottom: 0;
	}

	.header-logo {
		position: absolute;
		top: 0;
		left: 2rem;
		height: $nav-height-desktop + 3rem;
		background-color: $color-sun;
		padding: 1rem;
		border-bottom-left-radius: $radius-small;
		border-bottom-right-radius: $radius-small;
		
		img {
			height: 100%;
			width: auto;
		}

		@media screen and (min-width: $breakpoint-mobile) {
			left: 50%;
			transform: translateX(-50%);
		}
		
		@media screen and (min-width: $breakpoint-tablet) {
			left: 2rem;
			right: auto;
			transform: none;
		}
	}

	nav {
		.js-enabled & {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: $nav-height;
			z-index: 1000;
			transition: transform 0.25s;
		}

		@media screen and (max-width: $breakpoint-tablet - 1) {
			.js-nav-hidden & {
				transform: translateY(-$nav-height);
			}

			.js-nav-expanded & {
				transform: none;
				width: 100%;
				height: 100vh;
				overflow-y: scroll;
				background-color: $color-stone;
			}
		}

		@media screen and (min-width: $breakpoint-tablet) {
			&, .js-enabled & {
				z-index: initial;
				position: relative;
				height: auto;
				min-height: $nav-height-desktop;
				background-color: transparent;
				margin-bottom: 4rem;
				padding-left: 12rem;
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
			}
		}

		#nav-toggle {
			display: none;
			margin: 0;
			width: initial;
			height: initial;

			position: absolute;
			right: 1rem;
			top: 1rem;

			padding: (4rem - 2rem) / 2;
			outline: initial;
			background-color: darken($color-stone, 10%);

			svg {
				display: block;
				width: 2rem;
				height: 2rem;
				fill: $color-sun;
			}

			.js-enabled & {
				display: block;
			}

			@media screen and (min-width: $breakpoint-tablet) {
				.js-enabled & {
					display: none;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;

			li {
				margin-bottom: 0;

				@media screen and (max-width: $breakpoint-tablet) {
					.js-nav-expanded & {
						animation-name: go-up;
						animation-timing-function: cubic-bezier(0, 0, 0.01, 0.96);
					}
				}
			}

			li a {
				color: $color-sun;
				text-decoration: none;
				font-family: $font-nexa-rust;
				font-size: 2rem;
				line-height: 2;
				text-transform: uppercase;
				transition: color 0.25s;

				&:hover, &:focus {
					outline: none;
					border-bottom: 0.2rem solid $color-sun;
				}
			}

			.js-enabled & {
				display: none;
				margin-top: 1rem;
				text-align: left;
			}

			.js-nav-expanded & {
				display: block;
				padding-left: 2rem;
			}

			@media screen and (min-width: $breakpoint-mobile) {
				padding-right: 0;
			}

			@media screen and (min-width: $breakpoint-tablet) {
				&, .js-enabled & {
					display: block;
					margin: 0;
					text-align: right;

					.js-enabled & { text-align: right; }
					//padding: ($nav-height-desktop - 2rem) / 2 0;
				}

				text-align: right;

				li {
					display: inline-block;
					margin-right: 1rem;

					a {
						font-size: 1.5rem;
						line-height: 3rem;

						&, .js-enabled & { color: $color-sun; }
					}
				}
			}
		}
	}
}